/* restyle radio items */
body {
  /*padding-top: 2em;*/
  padding: 0px;
  margin: 0px;
  /*background-color: rgba(169, 169, 169, 0.312);*/
  background-color: rgb(149, 184, 116);
}

.container {
  margin: 0px;
  margin-top: 0px!;
}

.companylogo {
  background-image: url("/assets/green-energy.png");
  background-position: 1em center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
}

H1 {
  font-family: Barlow, Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.radio-group .form-check {
    padding-left: 0;
  }
  
  .radio-group .btn-group > .form-check:not(:last-child) > .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .radio-group .btn-group > .form-check:not(:first-child) > .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
  }
.container {
  margin-top: 4em;
  max-width: 1600px;
}

#building-selection {
  justify-content: center;
}
#building-selection .form-check {
    padding-left: 0;
}

.footerinfo {
  background-color: rgb(230, 230, 230);
  color: white;
}
.footerinfo2 {
  background-color: rgb(250, 250, 250);
  color: white;
}